extends base

block content
  if user 
    <script>location.assign("/mi-cuenta");</script>
  section.section-login.section-container.section-reset-password
      header
        h2.heading-secondary Recuperar contraseña
      form#form--reset-password.form.form--login.form--reset-password(data-id= token)
        .login-text-box
            div(class="form__group")
              label(for="password", class="form__label") Nueva contraseña
              input#password(type="password", class="form__input", name="password", required)
            div(class="form__group")
              label(for="passwordConfirm", class="form__label") Confirmar nueva contraseña
              input#passwordConfirm(type="password", class="form__input", name="passwordConfirm", required)
            .form--login__container
              button#sendResetPasswordBtn.btn.btn-primary.btn--reset-password-action(type="submit") Enviar
