extends baseEmail

block content
  p Hi #{firstName},
    p Olvidaste tu contrase침a? A continuaci칩n puedes restablecerla
    table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
      tbody
        tr
          td(align='left')
            table(role='presentation', border='0', cellpadding='0', cellspacing='0')
              tbody
                tr
                  td
                    a(href=`${url}`, target='_blank') Restablecer contrase침a
    p Si no olvidaste tu contrase침a ignora este email